.App {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.colorWrapper {
  display: flex;
  justify-content: center;
}

.colorSwatch {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
  transition: transform 0.2s;
}

.colorSwatch:hover {
  transform: scale(1.1);
}

.colorSwatchSpan {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 0.2em;
  text-shadow: 1px 1px 1px black;
  font-size: 1em;
}

.correctSwatch {
  border: 2.5px solid red;
}

.playAgainButton {
  width: 250px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s;
}

.playAgainButton:hover {
  transform: scale(1.05);
}
